mat-list {
	padding: 20px;
}


mat-grid-list {
	background-color: #fff;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 5px;
	border-bottom: 1px solid silver;
	cursor: pointer;
}

mat-grid-list:hover {
	background-color: #fafafa;
}

mat-grid-tile .author {
	font-size: 13px;
	margin-left: 10px;
	color: #999;
	font-weight: 1000;
}

mat-grid-tile .articleTitle {
	color: #333;
	font-family: 'Manjari';
	font-weight: 1000;
}

.tash {
	opacity: 1;
	background: rgba(255, 255, 255, 0);
    cursor: pointer;
	border: none;
	height: 40px;
	width: 40px;
	z-index: 999;
}
